[submodule "docs/journal_features/resources/conference_submission_paper"]
	path = docs/journal_features/resources/conference_submission_paper
	url = https://git@git.overleaf.com/68678b26f02af84a29eb4bb7
[submodule "docs/journal_features/resources/journal_draft"]
	path = docs/journal_features/resources/journal_draft
	url = https://git@git.overleaf.com/698c2e99ed9df53e8b55de22
